@font-face {
    font-family: VantagePointNeo-Bold;
    src: url('../font/VantagePointNeo-Bold.ttf');
}

@font-face {
    font-family: NotoSansTC;
    src: url('../font/NotoSansTC-Regular.woff2');
}

@font-face {
    font-family: NotoSansTC;
    src: url('../font/NotoSansTC-Bold.woff2');
    font-weight: bold;
}