@use './variable.scss' as v;
@use './font.scss' as font;

.page_header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px rgb(197, 197, 197);
    height: 4em;

    .inner_header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: 1280px;
        margin: 0 auto;
    }


    button img {
        width: 2.5em;
        position: relative;
        left:1em;
    }

    h2{
        @include v.gradient_text(v.$color_gradient_start, v.$color_gradient_end);
        font-family: VantagePointNeo-Bold, Georgia, serif;  
        font-weight: bold;
        font-size: 2em;
        text-align: center;
      }

    .page_header_empty {
        flex: 1;

    }
}