@use './variable.scss' as v;
@use './font.scss' as font;

#action_page {
    margin: 0 auto;
    background: url("../texture/background/material_selection_background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  
    height: 100vh;
  
    max-width: v.$max_width;  

    @media (max-width: v.$mobile_max_screen) {
        background-size:contain;
        background-position: center 20%;
    }

    .action_comp {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;

        position: absolute;
        top: 60%;
        left: 50%;
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
            
        @media (max-width: v.$mobile_max_screen) {
            flex-direction: column;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);    
        }


        .button {
            @include v.gradient_button(v.$color_gradient_start, v.$color_gradient_end);
            
        }
    }

    .doll-dropdown {
        position: absolute;
        top:5px;
        right:5px;

        .logout {
            right: 0.5em;
            position: relative;
        }
    }
}


#material_selection_page {
    margin: 0 auto;
    background: url("../texture/background/material_selection_background_v2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    position: relative;
  
    height: 92vh;
  
    max-width: v.$max_width;  

    @media (max-width: v.$mobile_max_screen) {
        background-size:auto;
    }

    .render_detail_comp {
        position: absolute;
    }

    .material_selection_comp {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em 3em;
        position: absolute;
        left: 50%;
        padding: 3em;
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        
        @media (max-width: v.$mobile_max_screen) {
            grid-template-columns: 1fr;
        }

        .button {
            @include v.gradient_button(v.$color_gradient_start, v.$color_gradient_end);
            width: 7em;
        }

        .inner_btn {
            @include v.gradient_button(v.$color_2_gradient_start, v.$color_2_gradient_end);
        }
        

        button:disabled {
            background: #040005;
            color: rgb(177, 175, 175);
          }
          

        .expand {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap:0.1em;
            box-shadow: 1px 1px 3px gray;
            background-color: white;
            z-index: 10;
            border-radius:0.5em;
        }
    }
}