@use './variable.scss' as v;
@use './font.scss' as font;

#validation_page {  
    .validation_content {
        margin: 0 auto;
        max-width: v.$max_width;  
    
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .validation_component {
        display: flex;
        gap: 2em;
        justify-content: left;
        align-items: center;

        .validation_label {
            @include v.gradient_button(v.$color_gradient_start, v.$color_gradient_end);
            padding: 0.4em 1.5em;    
        }

        .validation_progress {
            display: flex;
            gap: 0.5em;
            align-items: center;    
            width: 2em;
            height: 2em;
            
            span {
                display: none;
            }
            @media (max-width: v.$mobile_max_screen) {
                span {
                    display: block;
                }
            }
        }

        progress {
            --bulma-progress-bar-background-color: white;

            --bulma-progress-value-background-color: #5a3dff;
            border: solid 2px #c5a9ff; 
            height: 2.5em;   
            margin: 0 auto;
        }

        .progress_bar {
            flex-grow: 2;
            display: flex;
            justify-content: center;
            align-items: center;  
            flex-direction: row;
            position: relative;

            span {
                position: absolute;
                color: rgb(200, 200, 200);
                font-weight: bold;
                left:1em;
            }

            @media (max-width: v.$mobile_max_screen) {
                display: none;
            }
        }
    }

    .complete_notification {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
        max-width: 30em;

        color: white;
        font-family: NotoSansTC, Georgia, serif;
    }
}