@use './variable.scss' as v;
@use './font.scss' as font;

#video_page {  
    .video_content {
        margin: 0 auto;
        max-width: v.$max_width;  
    
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    iframe {
        height:512px;
        width:100%;
        border:none;
        overflow:hidden;

        @media (max-width: v.$mobile_max_screen) {
            height:256px;
        }
    }

    .video_actions {
        display: flex;
        gap:1em;
    }
}