@use './variable.scss' as v;
@use './font.scss' as font;

#video_page {  
    .video_content {
        margin: 0 auto;
        max-width: v.$max_width;  
    
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    iframe {
        border:none;
        overflow:hidden;
        width: 100%;
        height: 512px;
  
        @media (max-width: v.$mobile_max_screen) {
            height:185px;
            width: 100%;
        }
    }

    .video_actions {
        display: flex;
        gap:1em;
        
        .button {
            @include v.gradient_button(v.$color_gradient_start, v.$color_gradient_end);
            width: 7em;
        }
    }
}